/* MAIN */
body {
    font-family: Poppins, Lato, sans-serif;
    margin-left: auto;
    margin-right: auto;
    max-width: 750px;
}

a {
    text-decoration: none;
    color: dodgerblue;
}
.profile {
    width: 225px;
    height: 225px;
    border-radius: 50%;
}

/* HEADING */
.heading ul {
    list-style-type: none;
    margin-top: 10px;
    padding: 0;
    overflow: hidden;
}

.heading li {
    float: left;
    margin-right: 25px;
}

.heading li a {
    color: black;
}

.heading li :hover:not(.active) {
    text-decoration: underline;
}

.heading {
    display: flex;
    flex-direction: row;
    height: 50px;
    justify-content: space-between;
    font-size: 16px;
}

.icon_heading {
    height: 30px;
    width: auto;
    margin: 10px 5px;
}

/* BLOCK */
.block {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.intro {
    display: block;
    width: 750px;
    margin-left: 20px;
}
/* PROJECTS */

.project_block {
    width: 750px;
    border: 1px solid lightblue;
    background-color: aliceblue;
    border-radius: 5px;
    margin: 20px 0px;
}

.project_block p {
    margin: 0px;
    padding: 0px 20px;
    font-size: 12px;
}

.project_block ul {
    margin: 10px;
    font-size: 12px;
}

.title_block {
    display: flex;
    padding: 10px 10px 0px;
}

.title_block .tinyicon {
    height: 50px;
    width: auto;
}

.title_block .project_name {
    padding-top:15px;
    padding-left:15px;
    font-size: 20px;
}

.project_img {
    width: 300px;
    height: auto;
    margin: 10px 25px;
}

.info_block {
    display: flex; 
    justify-content: space-between;
}

.info_block a {
    font-size: 12px;
    padding: 0px 20px;
}

.etsy {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.etsy_img img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.contact_icon {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.contact_icon img {
    width: 75px;
    margin: 25px;
}

/* FOOTER */
.footer {
    display: block;
    text-align: center;
    font-size: 10px;
}

/* smaller screen css */
@media screen and (max-width: 750px) {
    body {
        margin: 10px;
        width: auto;
    }
    .block {
        display: block;
    }
    .pfp img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .intro {
        width: auto;
        margin: 10px;
    }
    .intro h1 {
        font-size: 20px;
    }
    .intro i {
        font-size: 20px;
    }
    .heading a {
        margin: 5px;
    }
    .heading li {
        margin-right: 5px;
    }
    .icon_heading {
        height: 25px;
        width: auto;
        margin: 10px 0px;
    }
    .project_block {
        width: auto;
    }
    .info_block {
        display: block;
    }
    .etsy_img img {
        width: 150px;
        height: 150px;
        object-fit: cover;
    }
}